<form [formGroup]="group">
    <div class="dynamic-row">
        <div class="dynamic-column deleteColumn" (click)="onRemoveItem()">
            <i class="fa fa-close"></i>
        </div>
        <div class="dynamic-column">
            <select formControlName="userlevel" [class.error]="feeItemErrors.userlevel">
                <option value="user">
                    user
                </option>
                <option value="VIP" selected>
                    VIP
                </option>

            </select>
            <div class="error-text">{{feeItemErrors.userlevel}}</div>

        </div>

        <div class="dynamic-column">
            <input formControlName="tierMin" [class.error]="feeItemErrors.tierMin">
            <div class="error-text">{{feeItemErrors.tierMin}}</div>
        </div>

        <div class="dynamic-column">
            <input formControlName="tierMax" [class.error]="feeItemErrors.tierMax">
            <div class="error-text">{{feeItemErrors.tierMax}}</div>
        </div>

        <div class="dynamic-column">
            <input formControlName="amount" [class.error]="feeItemErrors.amount">
            <div class="error-text">{{feeItemErrors.amount}}</div>
        </div>

    </div>
</form>